body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    background-color: #71af8d;
}

/*navBar*/
.navBar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navBar a{
    padding:15px;
    display:block;
}

.navBar a:hover{
    background-color: beige;
}
.navBar li{
    float: left;
}
.nav-link {
    margin-right: 15px;
}

/*mainUserDisplay*/
.profile-header {
    display: flex;
    align-items: center;
}

.pfp-logo{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid blue;
    margin: 20px;
}

.add-link {
    margin-top: 3px;
    color: blue;
    text-decoration: none;
}
.add-link:hover{
    text-decoration: underline;
    color: rgb(78, 78, 172);
}


/*progressTracking*/
.progressTracking {
    background-color: burlywood;
    padding: 1rem;
    border-radius: 10px;
}
